$outline-font: Portico
$bold-font: "Montserrat", sans-serif
$serif-font: 'Zilla Slab', serif
$handwritten-font: 'Tangerine', cursive;
$golden-grey: linear-gradient(to right, #dec489 0%, #f6e0a4 50%, rgba(#fff, .25) 51%)
$golden: linear-gradient(90deg, #dec489, #f6e0a4)
$golden-solid: #f6e0a4
$enter-transition-function: cubic-bezier(1.000, 0.030, 0.190, 1.000);
$enter-transition-function-2: cubic-bezier(0.210, 0.400, 0.000, 1)

body
    margin: 0
    padding: 0
    background: #fff
    overflow: hidden
    user-select: none
*
    box-sizing: border-box
.main_screen
    width: 100%
    height: 100vh
    background: #262626
    overflow: hidden
    .content_section
        position: absolute
        width: calc(100% - 120px)
        height: 100%
        background: #262626
        transition: 2s transform $enter-transition-function-2
        @for $i from 2 through 5
             &:nth-child(#{$i})
                 transform: translateY(($i - 2) * -100vh)
.menu_bar
    height: 100%
    width: 120px
    position: absolute
    right: 0
    top: 0
    border-left: .5px solid rgba(#fff, .05) 
    &_headline
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        height: 50%
        width: 100%
        bottom: 0
        overflow: hidden
        &_text
            position: absolute
            transform: rotate(-90deg) translateY(-100%)
            height: 120px
            width: 50vh
            display: flex
            align-items: center
            text-transform: uppercase
            font-family: $outline-font
            font-size: 90px
            padding-left: 20px
            transition: .5s ease-in
            background: $golden-grey
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            background-repeat: no-repeat
            background-size: 200% 100%
            background-position: 0 0
            &:nth-child(2)
                transform: rotate(-90deg) translateY(0)
                background: rgba(#fff, .25)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-repeat: no-repeat
                background-size: 200% 100%
                background-position: 0 0
            &_active
                transform: rotate(-90deg) translateY(0)
                &:nth-child(2)
                    transform: rotate(-90deg) translateY(100%)
.cursor
    position: absolute
    z-index: 1000
    width: 30px
    height: 30px
    border: 2px solid rgba(#fff, .25)
    border-radius: 50%
    transition: .2s width ease-in-out, .2s height ease-in-out
    pointer-events: none
    &_active
        width: 70px
        height: 70px
        border: 2px dashed rgba(#fff, .75)
        animation: rotating 3s linear infinite;
@keyframes rotating
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
.swiper
    &-container
        width: 100%
        height: 100%
    &-slide
        display: flex
        justify-content: center
        align-items: center
.sphere
    width: 300px
    height: 300px
    background: $golden
    border-radius: 50%
.toggle_btn
    width: 120px
    height: 120px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    &:hover
        i
            color: $golden-solid
    i
        color: rgba(#fff, .25)
        transition: .1s linear
.navigation
    height: 100vh
    width: calc(100% - 120px)
    position: absolute
    z-index: 100
    background: #333
    left: -100%
    transition: .5s left ease-in-out
    display: flex
    align-items: center
    justify-content: center
    &_active
        left: 0
    &_option
        padding-left: 5px
        width: fit-content
        overflow: hidden
        display: flex
        position: relative
        color: rgba(#fff, .25)
        &::after
            content: ""
            position: absolute
            bottom: 10px
            left: 0
            width: 100%
            height: 10px
            background: $golden
            transform: scaleX(0)
            transform-origin: left center
            transition: .3s $enter-transition-function-2
        &::before
            content: attr(data-word)
            position: absolute
            font-family: $handwritten-font
            font-size: 30px
            top: 2.5px
            color: rgba(#fff, .15)
            transition: .3s $enter-transition-function-2
        &:hover
            color: rgba(#fff, .75)
            &::after
               transform: scaleX(1)  
            &::before
                color: rgba(#fff, .5)
        span
            display: block
            font-family: $bold-font
            font-weight: 900
            font-size: 150px
            transform: translateY(100%)
            transition-timing-function: $enter-transition-function;
            $j: 0s
            @for $i from 1 through 12
                 &:nth-child(#{$i})
                     $j: $j + 0.15s
                     transition: $j
                     transition-property: transform, color, text-shadow
        &_final
            span
                transform: translateY(0)
.flying_icon
    position: absolute
    font-size: 25px
    color: rgba(#fff, .1)
    &:nth-child(1)
        top: 50px
        left: 50px
    &:nth-child(2)
        transform: rotate(90deg)
        right: 25px
    &:nth-child(3)
        bottom: 50px
        left: 50px